<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Student Management System</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg p-3 navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
          <i class="fas fa-user-graduate"></i>
          Étudiants
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/}"
                >Home</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Disabled</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <div class="row">
        <div class="w-100">
          <div class="">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title d-inline">Liste des étudiants</h3>
                <a href="/students/new" class="btn btn-dark float-right">
                  <i class="fas fa-plus"></i> Ajouter un étudiant
                </a>
                <table class="table mt-3">
                  <thead>
                    <tr>
                      <th>Prénom</th>
                      <th>Nom</th>
                      <th>Email</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="student: ${students}">
                      <td th:text="${student.firstName}"></td>
                      <td th:text="${student.lastName}"></td>
                      <td th:text="${student.email}"></td>
                      <td>
                        <a
                          th:href="@{/students/edit/{id}(id=${student.id})}"
                          class="btn btn-primary"
                          >Modifier</a
                        >
                        <a
                          th:href="@{/students/{id}(id=${student.id})}"
                          class="btn btn-danger"
                          >Supprimer</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
